machine:
    certSANs:
      - ${endpoint}
      - ${ip_address}
    kubelet:
        image: ${registry}/siderolabs/kubelet:${kubernetes_version}
        extraConfig:
            serverTLSBootstrap: true
    install:
        disk: ${install_disk}
        image: ${registry}/siderolabs/installer:${installer_version}
        wipe: true
        extraKernelArgs:
            - talos.platform=vmware
    registries:
        mirrors:
            docker.io:
              endpoints:
              - https://${registry}/
            gcr.io:
              endpoints:
              - https://${registry}/
            ghcr.io:
              endpoints:
              - https://${registry}/
            k8s.gcr.io:
              endpoints:
              - https://${registry}/
            quay.io:
              endpoints:
              - https://${registry}/
            registry.k8s.io:
              endpoints:
              - https://${registry}/
        config:
            ${registry}:
                tls:
                    insecureSkipVerify: true
    sysctls:
        net.ipv6.conf.lo.disable_ipv6: "1"
    files:
      - content: 
        permissions: 0644
        path: /etc/ssl/certs/ca-certificates
        op: append
cluster:
    network:
        podSubnets:
            - 10.20.0.0/16
        serviceSubnets:
            - 10.40.0.0/16
    apiServer:
        image: ${registry}/kube-apiserver:${kubernetes_version}
        certSANs:
            - ${ip_address}
    controllerManager:
        image: ${registry}/kube-controller-manager:${kubernetes_version}
    coreDNS:
        image: ${registry}/coredns/coredns:${coredns_version}
    proxy:
        image: ${registry}/kube-proxy:${kubernetes_version}
    scheduler:
        image: ${registry}/kube-scheduler:${kubernetes_version}
    discovery:
        registries:
            service:
                endpoint: https://${registry}:3000/
    inlineManifests:
        - name: namespace-ci
          contents: |-
            apiVersion: apps/v1
            kind: DaemonSet
            metadata:
              labels:
                app: talos-vmtoolsd
              name: talos-vmtoolsd
              namespace: kube-system
            spec:
              selector:
                matchLabels:
                  app: talos-vmtoolsd
              template:
                metadata:
                  labels:
                    app: talos-vmtoolsd
                spec:
                  automountServiceAccountToken: false
                  enableServiceLinks: false
                  priorityClassName: system-node-critical
                  restartPolicy: Always
                  tolerations:
                    - key: node.cloudprovider.kubernetes.io/uninitialized
                      operator: Exists
                      effect: NoSchedule
                    - key: node-role.kubernetes.io/master
                      operator: Exists
                      effect: NoSchedule
                    - key: node-role.kubernetes.io/control-plane
                      operator: Exists
                      effect: NoSchedule
                  containers:
                    - image: ${registry}/mologie/talos-vmtoolsd-unstable:latest
                      imagePullPolicy: Always
                      name: talos-vmtoolsd
                      volumeMounts:
                        - name: config
                          mountPath: /etc/talos-vmtoolsd
                          readOnly: true
                      env:
                        - name: TALOS_CONFIG_PATH
                          value: /etc/talos-vmtoolsd/talosconfig
                        - name: TALOS_HOST
                          valueFrom:
                            fieldRef:
                              fieldPath: status.hostIP
                      resources:
                        requests:
                          memory: 8Mi
                        limits:
                          memory: 64Mi
                          cpu: 500m
                      securityContext:
                        readOnlyRootFilesystem: true
                        allowPrivilegeEscalation: false
                        runAsUser: 1002
                        runAsGroup: 1002
                  securityContext:
                    fsGroup: 1002
                  volumes:
                    - name: config
                      secret:
                        secretName: talos-vmtoolsd-config
                        defaultMode: 0400
